body {
    background-image: url(../img/table.jpg);
    background-size: contain;
    font-family: 'Oxanium';
    color: white;
}

main {
    margin: 50px auto;
    width: 80%;
    text-align: center;
}

h1 {
    font-family: 'Rye';
    font-size: 5rem;
    text-align: center;
    margin-bottom: 100px;
}

h2 {
    font-size: 2rem;
}

.cards {
    position: relative;
    width: 370px;
    height: 335px;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 10px;
   
}

img {
    
}

#dealerCard1,
#playerCard1 {
    position: absolute;
    
    top: 10px;
    left: 10px;
    z-index: 0;
}

#dealerCard2,
#playerCard2 {
    position: absolute;
    left: 60px;
    top: 10px;
    z-index: 1;
}